# Groq API Key — get it free at https://console.groq.com
GROQ_API_KEY=gsk_your_kegsk_LAzr11Uk6WxIe3GA4W2BWGdyb3FYdBNnYRKapRcHvWBZdibgMIfzy_here

# Google Gemini API Key — get it free at https://aistudio.google.com/apikey
GEMINI_API_KEY=AIzaSyAy1fHBTSd7weqq-lY-4boXpJe1IwxK1_c
